#container {
  width: 800px;
  height: 600px;
  background-color: orange;
}

#header {
  width: 800px;
  height: 100px;
  background-color: blue;
  /* margin: 20px; */
  text-align: center;
}

#panel1 {
  width: 200px;
  height: 400px;
  float: left;
  background-color: pink;
}
#panel2 {
  width: 200px;
  height: 400px;
  float: right;
  background-color: lime;
}

#bodycontent {
  width: 400px;
  height: 400px;
  float: left;
  background-color: yellow;
}

#footer {
  width: 800px;
  height: 100px;
  background-color: crimson;
  float: left;
}
